$clr-black: #191919;
$clr-white: #fff;
$clr-background: #e5e5e5;
// $grey-line: red;
$grey-line: #f0f0f0;
$primary: #ff7010;
$primary-hover: hsl(24, 100%, 60%);
$grey-text: #a5a5a5;
$red: #e23535;
$primary-light: #ffeee2;
$green: #24d17e;
