@use "abstract" as *;
@use "base" as *;

.filter__wrapper {
	@include mqm(500) {
		max-width: rem(480);
	}
}

.filter__content {
	display: flex;
	flex-flow: column;
}

.filter__close {
	transition: fill $buttonTransition ease-in-out;

	& .icon-close {
		display: none;
	}

	@include mqm(500) {
		background-color: transparent;
		fill: $grey-text;

		& .icon-close {
			display: block;
			width: 24px;
			height: 24px;
		}

		& .button-close-menu-mobile {
			display: none;
		}

		@media (hover: hover) {
			&:hover {
				fill: $primary;
			}
		}
	}
}

.filter__top {
	display: none;
	margin: rem(32) rem(20) 0;
	justify-content: space-between;
	align-items: center;

	@include mqm(500) {
		display: flex;
	}
}

.filter__heading {
	font-weight: 600;
	font-size: rem(32);
}

.filter__categories {
	display: flex;
	flex-flow: column;
	gap: rem(20);
	margin: rem(24) rem(10);

	@include mqm(390) {
		margin: rem(24) rem(20);
	}

	@include mqm(500) {
		margin-top: rem(20);
		grid-area: rem(24);
	}
}

.filter__category-heading {
	@include adaptive-font(14, 16);
	@include adaptive-value("line-height", 16, 22, 1);
	color: $grey-text;
	margin-bottom: rem(12);
}

.filter__list {
	display: flex;
	flex-wrap: wrap;
	gap: rem(8);
}

.filter__item-label {
	@include adaptive-font(12, 14);
	line-height: rem(18);
	border: 1px solid $grey-line;
	padding: rem(10) rem(16);
}

.filter__checkbox {
	&:checked ~ .choose-label {
		color: $clr-white;
		background-color: $primary;
		border-color: $primary;
	}

	&:focus ~ .choose-label {
		outline: 3px solid $clr-black;
	}
}

.filter__list-item {
	display: inline-flex;
}

.filter__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: rem(12) rem(20);
	margin-top: auto;
	gap: rem(20);
	border-top: solid 1px $grey-line;
}

.filter__reset {
	flex-basis: 100%;
	padding: rem(13) 0;
	min-width: rem(165);
	align-self: center;

	@include mqm(390) {
		flex-basis: initial;
	}
}

.filter__apply {
	flex-basis: 100%;
	padding: rem(13) 0;
	min-width: rem(165);
	align-self: center;

	@include mqm(390) {
		flex-basis: initial;
	}
}
